*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root
{
  --primary: #005F73;
  --secondary: #023E8A;
  --accents: #000000;
  --screen: #a4ac86;
  --text: #CAF0F8;
}

body
{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  flex-grow: 0;
  flex-shrink: 1;
}

div
{
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  flex-shrink: 0;
  flex-grow: 1;
}

.tamagotchi h1
{
  padding: 15px 0;
  color: var(--text);
  font-family: 'Liu Jian Mao Cao';
  font-size: 48px;
}

.display__pet
{
  height: 300px;
  width: 450px;
  background: var(--screen);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border: 10px solid var(--accents);
  border-bottom: none;
}

img
{
  width: 100%;
  height: 250px;
  padding: 40px 10px 0 10px;
  object-fit: scale-down;
  object-position: center;
  /* animation: evolving 1s infinite; */
}

.display__info
{
  padding: 5px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--screen);
  border: 10px solid var(--accents);
  border-top: none;
  border-bottom: none;
}

.display__stats
{
  padding: 0 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--screen);
  border: 10px solid var(--accents);
  border-top: none;
}

.display__info section, .display__stats section, .buttons button
{
  font-family: 'Akaya Telivigala';
}

.stat p
{
  padding: 0 0 0 20px;
}

.buttons
{
  width: 450px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons__interact
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px 0;
}

.buttons__interact button
{
  padding: 10px 15px;
  border-radius: 100%;
  color: var(--text);
  background-color: var(--secondary);
}

.button__active
{
  padding: 10px 25px;
  align-self: center;
  border-radius: 100%;
  color: var(--text);
  background-color: var(--secondary)
}

button:hover
{
  cursor: pointer;
}

@keyframes evolving
{
  0% {opacity: 25%;};
  20% {opacity: 0%};
  40% {opacity: 50%;};
  60% {opacity: 0%};
  70% {opacity: 75%};
  85% {opacity: 0%};
  100% {opacity: 100%};
}